$black: rgb(2, 9, 27);

$blue: rgb(109, 177, 232);
$blueSteel: rgb(67, 96, 127);
$blueLight: rgb(0, 136, 199);
$blueMediumDark: rgb(6, 41, 73);
$blueDark: rgb(0, 31, 63);
$orange: rgb(251, 133, 71);

$gray: rgb(102, 124, 143);
$grayLight: rgb(231, 238, 243);
$grayLLight: rgb(242, 247, 249);
$grayDark: rgb(77, 78, 81);

$tealDark: rgb(36, 67, 83);
$teal: rgb(0, 199, 213);

$blackOverlayLight: rgba(0, 0, 0, 0.4);
$blackOverlayDark: rgba(0, 0, 0, 0.8);

$whiteOff: rgba(0, 0, 0, 0.12);
