$screenOuter: 1160px;
$screenLarge: 850px;
$screenMedium: 698px;
$screenSmall: 480px;

$mobile: new-breakpoint(min-width $screenSmall 0);
$tablet: new-breakpoint(min-width $screenMedium 6);
$desktop: new-breakpoint(min-width $screenLarge 12);
$desktopOuter: new-breakpoint(min-width $screenOuter 12);

$spacingSection: 48px;
