html {
	height:100%;
}
section[role="main"] {
	padding-bottom:$spacingSectionLarge;
}

article {
    @include outer-container;
    @include pad(default);
    color: $grayDark;
}

blockquote {
    border: 0px;
}
