.archive #footer footer {
     @include pad(48px default);
}

#footer {

    background: $blueDark;
    padding-top: $spacingSection;
    & footer {
        @include outer-container(1080px);
       
        color: white;
        & > section:last-child a {
            color:$teal;
        }
        p > a {   
            color:$teal;
        }

        @include media($screenLarge) {

            @include pad(48px 0);

            & > section {

                &:last-child {
                    @include shift(1);
                }
                & > *:first-child {
                    padding-top:0;
                }

                @include span-columns(5);

                &:first-child {
                    margin-right:0;
                    @include pad(0 default 0 0);
                }

            }
        }
    }
}
