#footer {
    background: $blueDark;
    padding-top: $spacingSection;
    & footer {
        @include outer-container;
        padding: 48px 4.7153%;
        & section {
            @include span-columns(6);
            color: white;
            &:first-child {
                border-right: 1px solid white;
            }
        }
    }
}
