#footer {
    .related {
        padding:0;
        & ul {
            padding-top: $spacingSectionSmall;
            & a {
                color:white;
            }
        }
    }
    background: $blueDark;
    padding-top: $spacingSection;
    & footer {
        @include outer-container;
        @include pad(48px default);
        color: white;

        @include media($screenLarge) {

            @include pad(48px 0);

            & > section {

                &:last-child {
                    @include shift(1);
                }

                @include span-columns(5);

                &:first-child {
                    border-right: 1px solid white;
                    margin-right:0;
                    @include pad(0 default 0 0);
                }

            }
        }
    }
}
