body.products.single > header {
    background: none;
}

body > header {
    background: $gray;
    @include media($screenLarge) {
        padding: em($fontSizeSmall) 0;
    }

    & nav {
        position: absolute;
        top: 0;
        @include shift(-1);
    }
    & > a.logo {
        display: inline-block;
        padding: 4px;
        & img {
            height: auto;
            max-width: 140px;
            @include media($screenLarge) {
                @include shift(1);
                max-width: 300px;
            }
        }
    }
}
