/* Site Overlay */

.site-overlay {
    bottom: 0;
    display: none;
    position: fixed;
    right: 15em;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/*
Nav Panel
======================================
*/

.panel {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    overflow: auto;
    padding-top: 75px;
    position: fixed;
    right: -15em;
    top: 0;
    width: 15em;
    z-index: 9999;
    background:white;

    @include media($screenLarge) {
        right: -20em;
        width: 20em;
    }

    /*should match the above value*/
    .close-menu {
        border: 2px solid #092148;
        display: block;
        font-size: 0;
        height: 38px;
        padding: 7px 10px 3px;
        position: absolute;
        right: 5%;
        width: 42px;
        z-index: 9999;
        &:before {
            background: url("images/offcanvas-buttons.png") no-repeat 0px -19px;
            content: '';
            display: block;
            height: 19px;
            width: 20px;
        }
    }
    ul {
        //@include adjust-font-size-to(15px);
        font-size: $base-font-size;
        margin: 0;
        padding: 0px 0 200px 0;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            &.current-menu-item {
                background: #5c6f81;
                & ul.sub-menu li {
                    background: white;
                    a {
                        color: #C0C9D1;
                        &:hover {
                            color: white;
                        }
                    }
                }
                a {
                    color: white;
                }
            }
            a {
               
                font-size: 1em;
                line-height: 1.63636em;
                border-bottom: 1px solid #c0c9d1;
                color: #5c6f81;
                display: block;
                padding: 15px 30px;
                text-decoration: none;
                &:hover {
                    background: #5c6f81;
                    color:white;
                }
            }
        }
        &.sub-menu {
            padding: 0;
            li {
                @include transition(all 0.3s);
                a {
                    color: #c0c9d1;
                }
                &.current-menu-item a {
                    color: white;
                }
            }
        }
    }
}

.menu-btn {
    position: absolute;
    right: 30px;
    top: 33%;
}

#nav-toggle {
    cursor: pointer;
    padding: 15px 33px 18px 8px;
    border: 2px solid white;
    display: block;
    margin-right: -10px;
    span {
        cursor: pointer;
        height: 3px;
        width: 25px;
        background: white;
        position: absolute;
        display: block;
        content: '';
    }
}

nav#toggler {
    z-index:10000;
}



#nav-toggle.active {
    cursor: pointer;
    padding: 15px 33px 18px 8px;
    border: 2px solid #5c6f81;
    display: block;
    position: fixed;
    right: 20px;

    span {
        cursor: pointer;
        height: 3px;
        width: 25px;
        background: #5c6f81;
        position: absolute;
        display: block;
        content: '';
    }
}



#nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    height: 3px;
    width: 25px;
    position: absolute;
    display: block;
    content: '';
    background: white;
}

#nav-toggle span:before {
    top: -8px;
}

#nav-toggle span:after {
    bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    @include transition(all 500ms ease-in-out);
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    background: #5c6f81;
    top: 0;
}

#nav-toggle.active span:before {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

body.archive.products {
    & #nav-toggle span:before, #nav-toggle span:after, #nav-toggle span {
            cursor: pointer;
            height: 3px;
            width: 25px;
            .single &, .articles-and-brochures &, .single-brochure & {}
            position: absolute;
            display: block;
            content: '';
            background: $blueDark;
        }
        & #toggler{
            opacity:0.8;
            & .menu-btn.text {
                color: $blueDark; 
            }
        }

        #toggler .active {
            & span {
                background:none;
                &:after, &:before {
                    background: $blueDark;
                }
            }
        }
}
