/*! Pushy - v0.9.1 - 2013-9-16 */

/* Menu Appearance */
.menu-btn {
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 30px;
    width: 46px;
    z-index: 2;
    span {
        border: 2px solid #FFF;
        display: block;
        font-size: 0;
        height: 37px;
        margin: 20px 0 0 0;
        overflow: hidden;
        padding: 7px 10px 3px;
        position: relative;
        width: 45px;
        z-index: 2;
        &:before {
            background: url("images/offcanvas-buttons.png") no-repeat;
            content: '';
            display: block;
            height: 19px;
            width: 20px;
        }
        &:hover {
            border: 2px solid #092148;
            &.single-product {
                border: 2px solid $white;
            }
            &:before {
                background-position: -20px 0;
                &.single-product {
                    background-position: 0px 0;
                }
            }
        }
    }
}

.pushy {
    -webkit-overflow-scrolling: touch;
    background: $white;
    height: 100%;
    overflow: auto;
    padding-top: 75px;
    position: fixed;
    right: 0;
    top: 0;
    width: 15em;
    z-index: 9999;
    @include media($bp-large) {
        width: 20em;
    }

    /* enables momentum scrolling in iOS overflow elements */
    .close-pushy {
        border: 2px solid #092148;
        display: block;
        font-size: 0;
        height: 38px;
        padding: 7px 10px 3px;
        position: absolute;
        right: 5%;
        width: 42px;
        z-index: 9999;
        &:before {
            background: url("images/offcanvas-buttons.png") no-repeat 0px -19px;
            content: '';
            display: block;
            height: 19px;
            width: 20px;
        }
    }
    ul {
        //@include adjust-font-size-to(15px);
        font-size: $base-font-size;
        margin: 0;
        padding: 100px 0 200px 0;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            &.current-menu-item {
                background: #5c6f81;
                & ul.sub-menu li {
                    background: $white;
                    a {
                        color: #C0C9D1;
                        &:hover {
                            color: $white;
                        }
                    }
                }
                a {
                    color: $white;
                }
            }
            a {
                //@include adjust-font-size-to(22px);
                font-size: 1.375em;
                line-height: 1.63636em;
                border-bottom: 1px solid #c0c9d1;
                color: #5c6f81;
                display: block;
                font-family: $ubuntulight;
                padding: 15px 30px;
                text-decoration: none;
                &:hover {
                    background: #5c6f81;
                    color: $white;
                }
            }
        }
        &.sub-menu {
            padding: 0;
            li {
                @include transition(all 0.3s);
                a {
                    color: #c0c9d1;
                }
                &.current-menu-item a {
                    color: $white;
                }
            }
        }
    }
}

/* Menu Movement */

.pushy-right {
    @include transform(translate3d(15em, 0, 0));
    @include media($bp-large) {
        @include transform(translate3d(20em, 0, 0));
    }
}

.pushy-open {
    @include transform(translate3d(0, 0, 0));
}

.container-push, .push-push {
    @include transform(translate3d(-15em, 0, 0));
    @include media($bp-large) {
        @include transform(translate3d(-20em, 0, 0));
    }
}

/* Menu Transitions */

.pushy, .wrapper, .push {
    /* improves performance issues on mobile*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    @include transition(transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99));
}

/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-active .site-overlay {
    bottom: 0;
    display: block;
    position: fixed;
    right: 15em;
    top: 0;
    width: 100%;
    z-index: 9999;
    @include media($bp-large) {
        right: 20em;
    }
}
