.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.product_slide {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    p {
        font-size: em(13);
        margin-bottom: 0;
    }
    li {
        min-height: 100px;
        overflow: hidden;
        position: relative;
        .grid-5 {
            float: left;
            min-height: 100px;
            position: relative;
            width: 100%;
            @include media($screenLarge) {
                width: 49.9%;
            }
        }
        .product_slide_content {
            width: 80%;
        }
        &.left {
            text-align: left;
            .product_slide_mask {
                left: 0px;
                @include media($screenLarge) {
                    left: 100%;
                }
            }
            .product_slide_icon {
                left: 0px;
                @include media($screenLarge) {
                    left: 100%;
                }
            }
            .product_slide_content {
                padding-bottom: 100px;
                padding-left: 100px;
                @include media($screenLarge) {
                    padding-bottom: 0px;
                    padding-left: 0;
                }
            }
        }
        &.right {
            text-align: left;
            @include media($screenLarge) {
                text-align: right;
            }

            .product_slide_icon {
                left: 0;
            }
            .product_slide_mask {
                left: 0px;
            }
            .product_slide_content {
                padding-bottom: 100px;
                padding-left: 100px;
                @include media($screenLarge) {
                    padding-bottom: 0px;
                }
            }
        }
        &.first {
            .product_slide_mask {
                top: 0px;
            }
        }
        &.last {
            .product_slide_mask {
                top: 0px;
            }
        }
        .product_slide_mask {
            background: url(images/sprite.png) 1px 0;
            bottom: 0;
            position: absolute;
            top: 69px;
            width: 72px;
        }
        .product_slide_icon {
            background: url(images/sprite.png) -71px 0;
            height: 69px;
            position: absolute;
            top: 0;
            width: 72px;
        }
        .icon-2 {
            background-position: -143px 0;
        }
    }
}

.fade {
    & h5, p {
        color: #43607f;
    }
}

.stem {
    height: 0px;
    position: relative;
    z-index: -1;
    .stem_bg_white {
        background: #fff;
        height: 100%;
        left: 14%;
        position: fixed;
        top: 0;
        width: 70px;
        z-index: 0;
        @include media($screenLarge) {
            left: 50%;
        }
    }
    .stem_bg_green {
        @include transition(all 0.5s);
        transform: translate3d(0px, 0px, 0px);
        backface-visibility: hidden;
        background: #67c4a1;
        height: 50%;
        left: 14%;
        position: fixed;
        top: 0px;
        width: 70px;
        z-index: 1;
        @include media($screenLarge) {
            left: 50%;
        }
    }
}
