html {
	height:100%;
}

article {
    @include outer-container;
    @include pad($spacingSectionLarge default);

    @include media($screenLarge) {
	    @include pad($spacingSectionLarge 0);	
    }
    color: $grayDark;
}

blockquote {
    border: 0px;
}
