.archive .banner {
    align-items: left;
}

body section.products {
    padding-top: 0 !important;
}

.archive.blog section[role="main"] {
    & > header {
        @include pad(0 default);
        @include media($screenLarge) {
            @include pad(0);
        }

        & h1 {
            padding: $spacingSectionLarge 0 $spacingSectionSmall 0;
        }
    }
    & #categories li {
        margin: 8px 0;
    }
}

.archive #footer footer {
    max-width: 850px;
}

#archive {
    padding-top: 0 !important;
}

#archive article {
    @include pad(0 default);
    & h6 {
        @include pad($spacingSectionSmall 0 0 0);
    }
    @include media($screenLarge) {
        @include pad($spacingSectionSmall 2.5%);
    }
}

.archive section[role="main"] article.overview {
    & h3 {
        & a:hover {
            color: $orange;
        }
    }
    & a.resource:hover, & a.more:hover {
        color: $teal;
    }
    & a:hover h3 {
        color: $orange;
    }
    &:hover a.more {
        color: $teal;
    }
}

section[role="main"] > section.pagination span.pages {
    @include pad($spacingSectionSmall default);
    text-transform: uppercase;
    font-weight: 500;
    @include media($screenLarge) {
        max-width: 850px;
        padding: $spacingSectionSmall 0;
        margin: 0 auto;
    }

    font-weight: bold;
    color: $orange;
}

.archive section[role="main"] {
    & > header {
        @include outer-container($screenLarge);
        @include pad(default);
        & > h1 {
            color: $gray;
            text-transform: uppercase;
            font-weight: 800;
            @include pad($spacingSection default);
            @include media($screenLarge) {
                @include pad($spacingSection 0);
            }

            letter-spacing: -2px;
        }
        & #tags {
            margin-top: 14px;
            font-size: 0.6em;
        }
        & #categories, & #tags {
            & nav {
                & > h3 {
                    color: $blueDark;
                }
                & li {
                    &.current-cat, &:hover {
                        & a {
                            background: $blueDark;
                            text-decoration: none;
                            color: white;
                        }
                    }
                    & a {
                        font-size: em($fontSizeBodySecondary);
                        margin: 4px 4px 4px 0;
                        background: $grayLight;
                        padding: 8px;
                        @include media($screenLarge) {
                            padding: 8px 18px;
                            font-size: em($fontSizeBodySecondary);
                            margin: 0 10px 0px 0;
                        }

                        text-decoration: underline;
                        font-weight: 700;
                        color: $blueDark;
                    }
                }
            }
        }
    }
    & .icon.resource span {
        display: none;
    }
}

.archive {
    & header.banner {
        min-height: 60vh;
        box-sizing: border-box;
        flex-direction: column;
        display: flex;
        justify-content: center;
        @include outer-container($screenOuter);
        @include pad(0 2.37% $spacingSectionSmall 2.37%);
        color: white;
        & h4 {
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
        }
    }
}

.archive.category-integrations {
    & header.banner {
        max-width: 850px;
        text-align: center;
        h1 {
            text-shadow: 0px !important;
            display: block;
            width: 100%;
        }
    }
}

.category-integrations section[role="main"] {
    & .vendor {
        & a:last-of-type {
            color: $blueDark;
            display: block;
            transition: all 0.2s ease-in-out;
            &:hover {
                color: $orange;
                &:after {
                    color: $teal;
                }
            }
        }
        & a:after {
            font-family: $fontIcons;
            content: "\f08e";
            padding-left: 6px;
            opacity: 0.9;
            font-size: 80%;
        }
        clear: both;
        margin-top: $spacingSection;
        @include media($screenLarge) {
            & img {
                @include span-columns(3);
            }
            & section {
                @include span-columns(7);
                @include shift(1);
            }
            & a {
                font-weight: bold;
            }
        }
    }
}

.category-products section[role="main"], .category-product-integrations section[role="main"] {
    & section.products {
        ul {
            margin: 0;
            padding: 0;
            & li.product {
                @include media($screenLarge) {
                    min-height: 280px;
                }

                & a {
                    color: white;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        color: white;
        @include pad($spacingSectionLarge default);
        @include outer-container($screenOuter);
        & h3 a {
            color: white;
            &:hover {
                color: $orange;
            }
        }
        & .base-stations a:hover h3, & .hardware-product-integrations h3 a:hover {
            color: $teal;
        }
        & .marine-gradiometers a:hover h3, & .software-product-integrations h3 a:hover {
            color: $blueLight;
        }
        & .marine-magnetometers a:hover h3 {
            color: $orange;
        }
        & .product-integrations a:hover h3 {
            color: $teal;
        }
        & label {
            clear: both;
            display: block;
            margin-bottom: $spacingSectionSmall;
            span {
                display: inline-block;
                color: white;
                font-weight: bold;
                padding: 4px 8px;
            }
            &.base-stations span, &.hardware-product-integrations span, &.product-integrations span {
                background: $teal;
            }
            &.marine-gradiometers span, &.software-product-integrations span {
                background: $blueLight;
            }
            &.marine-magnetometers span {
                background: $orange;
            }
        }
    }
    background: -moz-linear-gradient(top, rgba(0, 31, 63, 0) 0%, rgba(0, 31, 63, 1) 300px, rgba(0, 31, 63, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 31, 63, 0)), color-stop(300px, rgba(0, 31, 63, 1)), color-stop(100%, rgba(0, 31, 63, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 31, 63, 0) 0%, rgba(0, 31, 63, 1) 300px, rgba(0, 31, 63, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 31, 63, 0) 0%, rgba(0, 31, 63, 1) 300px, rgba(0, 31, 63, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 31, 63, 0) 0%, rgba(0, 31, 63, 1) 300px, rgba(0, 31, 63, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 31, 63, 0) 0%, rgba(0, 31, 63, 1) 300px, rgba(0, 31, 63, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00001f3f', endColorstr='#001f3f',GradientType=0 );
    & ul .product {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: $spacingSectionSmall;
        @include media($screenLarge) {
            @include span-columns(5);
            &:nth-child(2n) {
                @include shift(1);
            }
            &:nth-child(2n + 1) {
                clear: left;
            }
        }

        p {
            @include media($screenLarge) {
                min-height: 140px;
            }
        }
    }
}
