nav.left {
    & ul {
        list-style: none;
        & li {
            float: left;
            list-style: none;
            margin-bottom: 10px;
            & a {
                display: block;
            }
        }
    }
}

ul#menu-main-menu {
    li.main-menu-item {
        a.main-menu-link {
            text-decoration: none;
            margin-left: 0;
        }
    }
}

a.main-menu-link {
    text-decoration: none;
    border-bottom: none;
}

.is-sub-menu.menu-odd.menu-depth-1 {
    width: 100%;
    @include media($bp-med) {
        @include flexalignstart;
        @include flex-wrap(wrap);
        > li {
            @include flex(0 0 50%);   
        }
    }
    
}

.sub-menu-link {
    font-weight: bold;
    margin-left: 0;
}

.sub-sub-menu.menu-depth-2 {
    li {
        a {
            font-weight: normal;
            margin: 0;
            padding: 0;
        }
    }
}

.is-sub-menu.menu-depth-1 {
    margin-left: 10px;
}

.is-sub-menu.sub-sub-menu.menu-depth-2 {
    margin-left: 10px;
    li {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }
}

.menu-link-956.sub-menu-link,
.menu-link-957.sub-menu-link,
.menu-link-958.sub-menu-link,
.menu-link-959.sub-menu-link,
.menu-link-960.sub-menu-link,
.menu-link-961.sub-menu-link {
    padding: 10px;
    margin-left: 0;
    &:after {
        border-bottom: none;
    }
    &:hover {
        color: $white;
        cursor: default;
    }
}


.menu-link-956.sub-menu-link {
    background-color: $orange;
}

.menu-link-957.sub-menu-link {
    background-color: $blueLight;
}

.menu-link-958.sub-menu-link {
    background-color: $teal;
}

.menu-link-959.sub-menu-link {
    background-color: $blueMid;
   
}

.menu-link-960.sub-menu-link {
    background-color: $grayMed;
}

.menu-link-961.sub-menu-link {
    background-color: $blueGray;
}

.menu-main-menu-container {
    @include media($bp-small) {
        padding: 0 30px;
    }
}

#nav-menu-item-53 {
    .is-sub-menu.menu-odd.menu-depth-1 {
        @include display(flex);
        @include flex-direction(column);
        #nav-menu-item-566 {
            padding: 0;
            a {
                padding: 0;
                margin: 0;
                margin-bottom: 50px;
            }
        }
    }
}

// Coming Soon (TEMP)
#nav-menu-item-962,
// #nav-menu-item-1294,
#nav-menu-item-964 {
    a {
        color: rgba(255,255,255,0.3);
        &:after {
          border-bottom: none;
        }
        &:hover {
            color: rgba(255,255,255,0.3);
            cursor: default;
        }
    }
    &:after {
        // padding-left: 10px;
        // content: "(Coming soon)";
        // color: $white;
        // text-transform: uppercase;
        // font-size: modular-scale(0,0.7rem);
        // line-height: modular-scale(0,0.7rem);
    }
}

#menu-main-menu {
    >li >ul >li >ul >li#nav-menu-item-342,
    >li >ul >li >ul >li#nav-menu-item-1299 {
        margin-top: 5px;
    }
}