[class^="icon-"], [class*=" icon-"], .icon {
    font-family: $fontIconsSecondary;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon.mail:before {
    content: "\f0e0";
}
.icon.more:before {
    content: "\e602";
}
.icon.resource:before {
    content: "\e601";
}
.icon.view:before {
    content: "\e5f0";
}
.icon.printer:before {
    content: "\e608";
}
