//  Typefaces
$fontPrimary: "open-sans";
$fontSecondary: "minion-pro";
$fontIcons: "fontAwesome";
$fontIconsSecondary: "icomoon";


//  Type Sizes
$fontSizeCaption: 6.112;
$fontSizeMeta: 10;
$fontSizeSmall: 14;
$fontSizeBodySecondary: 16;
$fontSizeBody: 18;
$fontSizeLarge: 24;
$fontSizeSubheading: 25;
$fontSizeHeadingSmall: 35;
$fontSizeHeading: 65.565;
$fontSizePoster: 89;

/* 18px @ 1:1.5 */

/* 
	Modular Scale @ 1.125
	275px = About page tab height
	16px @ 1:1.618
	275px @ 1:1.618	
	http://modularscale.com/scale/?px1=16&px2=275&ra1=1.25&ra2=0
*/
