//  Typefaces
$fontPrimary: "opensans";
$fontSecondary: "minion-pro";
$fontIcons: "Mono Social Icons Font";

//  Type Sizes
$fontSizeCaption: 6.112;
$fontSizeSmall: 9.889;
$fontSizeBody: 16;
$fontSizeLarge: 25.888;
$fontSizeSubheading: 41.887;
$fontSizeHeading: 67.773;
$fontSizePoster: 109.657;

/* 
	Modular Scale 
	275px = About page tab height
	16px @ 1:1.618
	275px @ 1:1.618	
	http://modularscale.com/scale/?px1=16&px2=275&ra1=1.618&ra2=0
*/
