/* Modular Scale ---------------------- 16px @ 1:1.618   275px @ 1:1.618     ----------------------*/

body {
    font-family: $fontPrimary;
    font-size: em($fontSizeBody);
    line-height: em($fontSizeLarge);
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontPrimary;
    a {
        text-decoration: none;
        &:hover {}
    }
}

h1 {
    font-size: em($fontSizePoster);
    margin: 0;
    line-height: em($fontSizeLarge);
    font-weight: 800;
}

h2 {
    font-size: em($fontSizeSubheading);
    line-height: em($fontSizeBody);
    font-weight: normal;
    margin: 0;
}

h3 {
    font-size: em($fontSizeLarge);
    line-height: em($fontSizeSubheading);
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: em($fontSizeBodySecondary);
}

h4 {
    font-size: em($fontSizeLarge);
    line-height: em($fontSizeSubheading);
    font-weight: 300;
}

h5 {
    font-size: em($fontSizeLarge);
    line-height: em($fontSizeSubheading);
    font-family: $fontSecondary;
    font-weight: normal;
    margin-bottom: 0;
}

h6 {
    font-size: em($fontSizeBody);
    line-height: em($fontSizeCaption);
    margin-bottom: 0;
    font-weight: normal;
}

p, ul, ol {
    font-size: em($fontSizeBody);
    margin: 0 auto rhythm(1, $fontSizeBody);
    @include media($screenLarge) {
        font-size: em($fontSizeBody);
        line-height: em($fontSizeLarge);
        margin: 0 auto rhythm(1, $fontSizeLarge);
    }
}

blockquote {
    font-size: em($fontSizeBody);
    @include media($screenLarge) {
        font-size: em($fontSizeSubheading);
        margin: 0 auto rhythm(1, $fontSizeSubheading);
    }
}

a {
    &:hover {
        outline: none;
        text-decoration: none;
    }
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}

.text-center {
    text-align: center;
}
