article.overview {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 0;
    @include media($screenLarge) {
        padding-top: 50px;
        padding-bottom: 32px;
    }
    & h3 {
        & a:hover {
            
        }
    }
    & a.resource:hover, & a.more:hover {
        color: $teal;
    }
    &:hover h3 {
        //color:$orange;
   
    }
    &:hover a.more {
        // color: $teal;
    }
    & h6 {
        text-transform: uppercase;
        font-size: em($fontSizeSmall);
        line-height: 3em;
        color: $blueDark;
        font-weight: 700;
    }
    & header {
        @include media($screenLarge) {
            @include span-columns(4);
        }

        & h3 {
            font-weight: bold;
            color: $blueDark;
            margin-bottom: $spacingSectionSmall;
            & a {
                color: $blueDark;
                border: none;
            }
        }
    }
    & section {
        & p {
            color: $blueDark;
            margin-bottom: 0;
        }
        @include media($screenLarge) {
            @include span-columns(6);
            @include shift(1);
            padding: 0;
        }

        & > footer {
            @include pad(default default $spacingSectionSmall 0);
            @include media($screenLarge) {
                @include pad(default 0 $spacingSectionSmall 0);
            }

            &:last-of-type {
                border-bottom: 0px;
            }
            & a.resource, & a.more {
                color: $blueDark;
            }
        }
    }
    &:after {
        // content: '';
        // display: block;
        // margin: 0 auto;
        // width: 100%;
        // /* background: $blueDark; */
        // background: #E0E0E0;
        // height: 1px;
    }
    &:last-of-type:after {
        background: transparent;
    }
    footer.brochure-footer {
        @include media($bp-small) {
            padding-bottom: 0;
        }
    }
}

article.overview:last-child {
    border-bottom: none;
}
