.error404 .bannertext {
    p {
        color: $white;
        text-align: center;
    }
    .menu {
        list-style: none;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            a {
                border-right: 3px solid #fff;
                color: $white;
                font-family: $ubuntubold;
                padding: 0px 15px 0 7px;
            }
            &:last-child a {
                border: none;
            }
        }
    }
}