#box {
    @include border-radius(200px);
    background: white;
    border: 1px solid #fff;
    display: none;
    height: 46px;
    margin: 20px 0 0 0;
    overflow: hidden;
    width: 46px;
    &:before {
        background: white url("images/menu.png") no-repeat center;
        content: '';
        float: right;
        height: 44px;
        position: relative;
        width: 44px;
    }
    &:hover {
        width: 530px;
    }
    @include at-breakpoint($desktop) {
        display: block;
    }
}

nav ul {
    list-style-type: none;
    margin-top: 3px;
    white-space: nowrap;
    & li {
        display: inline;
        margin-left: 4px;
    }
    & a:hover {
        color: $light-gray;
    }
}

nav ul li a {
    @include adjust-font-size-to(10px);
    color: $black;
    font-family: $san-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    &:after {
        content: '';
        margin-left: 10px;
    }
}