.archive #footer footer {
    @include pad(48px default);
    @include media($screenLarge) {
        @include pad($spacingSectionLarge default);
    }
}

#footer {
    z-index: 7;
    background: $blueDark;
    // border-top: 1px solid #fff;
	padding: 46px 5%;
    position: relative;
	@include media($screenLarge) {
		padding: $spacingSection 2.5%;
	}
    & footer {
        @include outer-container(1080px);
        @include pad($spacingSectionSmall default);
        color: white;
        & > section:last-child a {
            color: $teal;
        }
        p > a {
            color: $teal;
        }
        @include media($screenLarge) {
            @include pad($spacingSectionSmall default);
            & > section {
                &:last-child {
                    @include shift(1);
                }
                & > *:first-child {
                    padding-top: 0;
                }
                @include span-columns(5.575);
                &:first-child {
                    margin-right: 0;
                    @include pad(0 default 0 0);
                }
            }
        }
    }
}

.footer-recent-posts {
    padding: 15px 20px;
    background: $white;
    margin-bottom: 20px;
    &:first-child {
        margin-top: 15px;
    }
    a {
        color: $blueDark;
        font-weight: bold;
    }
}
