.error404 .banner {
	height:100vh;
	justify-content: center;
	flex-direction:column;
	& h1 {
		margin-bottom: $spacingSectionSmall;
		text-align:center;
	}
}

.error404 > header {
	background:transparent;
}