body.about #footer footer {
    @include outer-container(850px);
}

body.about {

    & > header {
        position:absolute;
        
        @include media($screenOuter) {
            
            @include shift(1);
        }
    }
    & .masthead {
        display:flex;
        justify-content: center;
        min-height:55vh;
    }

    background: $gray;
    & section:first-of-type {
        & article {
            color: white;
            @include pad($spacingSection default);

            @include media($screenLarge) {
	            @include pad($spacingSectionLarge default);
		    }

        }
    }
    #footer {
    	border-top:0;

        @include media($screenLarge) {
            border-top: $spacingSectionLarge solid white;
        }
    }
}
