body.about {
    background: $gray;
    & section:first-of-type {
        & article {
            color: white;
            padding-bottom: 140px;
            @include media($screenLarge) {
                margin-top: 200px;
            }
        }
    }
}
