.archive > header:first-of-type {
        
        position:absolute;

        @include media(1280px) {
            
            @include shift(1);
        }
    }

.archive section[role="main"] {
    & > header {
        @include outer-container($screenLarge);
        @include pad(default);
        & > h1 {
            color: $gray;
            text-transform: uppercase;
            font-weight: 800;
            @include pad($spacingSection default);
            letter-spacing: -2px;
        }
        & #categories {
            & nav {
                & > h3 {
                    color: $blueDark;
                }
                & li {
                    &.current-cat, &:hover {
                        & a {
                            background: $blueDark;
                            text-decoration: none;
                            color: white;
                        }
                    }
                    & a {
                        font-size: em($fontSizeBodySecondary);
                        margin: 4px 4px 4px 0;
                        background: $grayLight;
                        padding: 8px;
                        @include media($screenLarge) {
                            padding: 8px 18px;
                            font-size: em($fontSizeBodySecondary);
                            margin: 0 10px 0px 0;
                        }

                        text-decoration: underline;
                        font-weight: 700;
                        color: $blueDark;
                    }
                }
            }
        }
    }
    & .icon.resource span {
        display: none;
    }
}

.archive {
    & header.banner {
        height: 50vh;
        box-sizing:border-box;
        min-height:0;
        flex-direction: column;
        text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
        display:flex;
        flex-direction: column;
        justify-content:flex-end;
        @include outer-container($screenOuter);
        @include pad($spacingSectionSmall default);
        color:white;
        @include fontShadow($blackOverlayLight);

        @include media($screenLarge) {
        }

        & h2 {
            @include pad($spacingSectionSmall 0);
        }
    }
}

.category-integrations section[role="main"] {
    & .vendor {

        & a:last-of-type {
            color:$blueDark;
            display:block;
            transition:all 0.2s ease-in-out;

            &:hover {
                color:$orange;
                &:after {
                    color:$teal;
                }
            }
        }
        & a:after {
            font-family:$fontIcons;
            content: "\f08e";   
            padding-left:6px;
            opacity:0.9;
            font-size:80%;

        }
        clear:both;
        margin-top: $spacingSection;

        @include media($screenLarge) {

        & img {
            @include span-columns(3);
        }
        & section {
            @include span-columns(7);
            @include shift(1);
        }
        & a {
            font-weight:bold;
        }

        }
    }
}

.category-products section[role="main"], .category-product-integrations section[role="main"] {

    & section.products {

        ul {
            margin:0;
            padding:0;

            & li.product {
                @include media($screenLarge) {
                    min-height:280px;
                }

                & a {
                    color:white;
                    transition:all 0.3s ease-in-out;
                }
                
            }
        }

        color:white;
        @include pad($spacingSectionLarge default);
        @include outer-container($screenOuter);

        & h3 a {
            color:white;

            &:hover {
                color:$orange;
            }
        }

        & .base-stations a:hover h3, & .hardware-product-integrations h3 a:hover {
            color:$teal;
        }
        & .marine-gradiometers a:hover h3, & .software-product-integrations h3 a:hover {
            color:$blueLight;
        }
        & .marine-magnetometers a:hover h3 {
            color:$orange;
        }

        & label {

            clear:both;
            display:block;
            margin-bottom:$spacingSectionSmall;

            span {
                display:inline-block;
                color:white;
                font-weight:bold;
                padding:4px 8px;
            }

            &.base-stations span, &.hardware-product-integrations span, &.product-integrations span {
                background:$teal;
            }
            &.marine-gradiometers span, &.software-product-integrations span {
                background:$blueLight;
            }
            &.marine-magnetometers span {
                background:$orange;
            }
        }

    }

    

    background: -moz-linear-gradient(top, rgba(0,31,63,0) 0%, rgba(0,31,63,1) 300px, rgba(0,31,63,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,31,63,0)), color-stop(300px,rgba(0,31,63,1)), color-stop(100%,rgba(0,31,63,1)));
    background: -webkit-linear-gradient(top, rgba(0,31,63,0) 0%,rgba(0,31,63,1) 300px,rgba(0,31,63,1) 100%);
    background: -o-linear-gradient(top, rgba(0,31,63,0) 0%,rgba(0,31,63,1) 300px,rgba(0,31,63,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,31,63,0) 0%,rgba(0,31,63,1) 300px,rgba(0,31,63,1) 100%);
    background: linear-gradient(to bottom, rgba(0,31,63,0) 0%,rgba(0,31,63,1) 300px,rgba(0,31,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00001f3f', endColorstr='#001f3f',GradientType=0 );


    & ul .product {

        display:flex;
        flex-direction:column;
        margin:0;
        margin-bottom:$spacingSectionSmall;


        @include media($screenLarge) {
            @include span-columns(5);
            &:nth-child(2n) {
                @include shift(1);
            }
            &:nth-child(2n + 1) {
                clear:left;
            }
        }

        p {
            @include media($screenLarge) {
                min-height:140px;
            }
            
        }

    }
} 
