section[role="main"] {
    & > header {
        @include outer-container($screenLarge);
        @include pad(default);
        & > h1 {
            color: $gray;
            text-transform: uppercase;
            font-weight: 800;
            padding: $spacingSection 0;
            letter-spacing: -2px;
        }
        & #categories {
            & nav {
                & > h3 {
                    color: $blueDark;
                }
                & li {
                    &.current-cat, &:hover {
                        & a {
                            background: $blueDark;
                            text-decoration: none;
                            color: white;
                        }
                    }
                    & a {
                        font-size: em($fontSizeBodySecondary);
                        margin: 4px 4px 4px 0;
                        background: $grayLight;
                        padding: 8px;
                        @include media($screenLarge) {
                            padding: 8px 18px;
                            font-size: em($fontSizeBodySecondary);
                            margin: 0 10px 0px 0;
                        }

                        text-decoration: underline;
                        font-weight: 700;
                        color: $blueDark;
                    }
                }
            }
        }
    }
    & .icon.resource span {
        display: none;
    }
}
