body.contact {

	& section[role="main"] {
		background: $gray;
		background-repeat:no-repeat;
		color:white;
		background-position:top center;

		& article {
			color:white;
			max-width:$screenOuter;
			@include media($screenLarge) {

			}

			padding-top:$spacingSectionLarge;
		}

		& .optional {

			@include outer-container($screenOuter);

		}
		& h6 {
			margin-top: $spacingSectionSmall;
			font-weight:bold;
			text-transform:uppercase;
			font-size: em($fontSizeSmall);
		}
		& a {
			text-decoration:underline;
			color:white;
		}

		& #gform_fields_3 {
			& label {
				display:none !important;
			}
			& input, textarea {
				width:100%;
				margin-bottom: em($fontSizeBodySecondary);
			}
		}

		& h1 {
			margin-bottom: $spacingSectionLarge;
		}

		& .gform_body ul {
			width:100%;
		}

		& .gform_footer {
			padding-top:0;
		}

		& #gform_submit_button_3 {
			border:2px solid white;
			padding:12px 24px;
			text-transform:uppercase;
			text-shadow:0px 4px 20px rgba(0,0,0,0.6);
			font-weight:600;
			color:white;
			display:inline-block;
			background:none;
			text-shadow:none;
			border-radius:0;
			float:right;
			font-size: em($fontSizeSmall);
			padding:18px 36px;

			&:hover {
				background:white;
				color:$blueDark;
				text-shadow:none;
			}
		}
		a.resource {
			border-bottom:0px;
		}

		@include media($screenLarge) {

			& .gform_wrapper {
				@include span-columns(6);
				@include shift(1);
				float:right;
			}
		}

		& .optional {
			@include pad(default);
			padding-bottom:$spacingSectionLarge;
		}

		& .optional a.icon {
			display:inline-block;

			&:hover {
				color:$orange;
				&:before {
					color:$teal;
				}
			}

			font-size:em($fontSizeBody);
			text-decoration:none;
			font-weight:200;
			&:before {
			float: right;
			position:relative;
			left:10px;
			}
		}
	}

}