body.products.single {
    & section[role="main"] {
        & article {
            h1 {
                @include opacity(0.7);
                color: white;
                font-weight: 800;
                line-height: 40%;
                position: absolute;
                top: -2%;
                left: 0;
                text-align: center;
                width: 100%;
                z-index: -1;
            }
        }
    }
}
