$black: rgb(2, 9, 27);

$blue: rgb(109, 177, 232);
$blueDark: rgb(29, 57, 85);

$orange: rgb(251, 133, 71);

$gray: rgb(102, 124, 143);
$grayLight: rgb(231, 238, 243);
$grayDark: rgb(77, 78, 81);

$tealDark: rgb(36, 67, 83);
$teal: rgb(0, 199, 213);
