@import "neat-helpers";

// or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$max-width: 850px;

// Neat Breakpoints
$medium-screen: new-breakpoint(min-width em(640) 7);
$screenLarge: new-breakpoint(min-width em(850) 12);
