
.banner {

    
    flex-direction:column;
    @include media($screenLarge) {
    max-height:40vh;
    display:flex;
    flex-direction:row-reverse;
    min-height:600px;
    max-width:1080px;
    margin:0 auto;
    align-items:center;
    @include pad(0 default);
    }
    align-items:center;
    color:white;
    min-height:70vh;
     @include pad(10vh default 0 default);
    .bannerImage {
        margin:0 auto;

        @include pad(5vh default 0 default);
        display:block;
        min-width:1px;
          @include media($screenLarge) {
        margin-right: -8.5298%;
        width:100%;
        height:auto;

        }
    }

    & .text {
        max-width:100%;
        @include media($screenLarge) {
          max-width:48.82117%;
        }
        min-height:300px;
        display:flex;
        flex-direction:column;
        align-items:left;
        justify-content: center;
        & h4 {
            text-shadow:1px 1px 4px rgba(0,0,0,1);
        }
        margin-bottom:$spacingSectionSmall;
        @include media($screenLarge) {
            width:48.82117 !important;
            margin-bottom:0;
        }
    }


    & > img {
        @include media($screenLarge) {
                @include media($screenLarge) {
        }
        }
    }

    & h1 {
          padding-bottom: 18px;
    }

 

}

.owl-carousel  {
        color:white;
            padding-top:4em;
        @include media($screenLarge) {
            padding-top:0;
        }
        @include media($screenLarge) {
            @include span-columns(5);
        }
        & .owl-stage {
            transition:0.001s !important;
        }
        & .owl-item {
            display:flex;
            align-items:center;
            height:100%;
            & img {
                max-height: 100vh;
            }
        }

        & .owl-item .item  {

                @include pad(em($fontSizeLarge));

                @include media($screenLarge) {
                    display:flex;
                    align-items:center;
                }

            & section {

                @include media($screenLarge) {
                    @include span-columns(5);
                }
            }
        }
        & p, & h3 {
            margin-bottom:em($fontSizeLarge);
        }

        & img {

            margin-bottom:em($fontSizeLarge);

            @include media($screenLarge) {
                @include span-columns(5);
                @include shift(1);
            }
        }
        & h3 {
            font-size:em($fontSizeLarge);
            text-shadow:0px 3px 8px rgba(0,0,0,0.3);
        }
}
