.banner {
    display:flex;
    flex-direction:column;
    color:white;

    & > img {
        @include media($screenLarge) {
            @include span-columns(8);
            @include shift(2);
        }
    }
    & > h3 {
        text-align:center;
        @include fontShadow($blackOverlayLight);
        @include media($screenLarge) {
            @include span-columns(8);
            @include shift(2);
        }
    }
    & > p {
        text-align:center;
        @include media($screenLarge) {
            text-align:center;
            @include span-columns(8);
            @include shift(2);
        }
    }
}

.owl-carousel  {
        color:white;

        & .owl-item .item  {

                @include pad(em($fontSizeLarge));

                @include media($screenLarge) {
                    display:flex;
                    align-items:center;
                }

            & section {

                @include media($screenLarge) {
                    @include span-columns(5);
                }
            }
        }
        & p, & h3 {
            margin-bottom:em($fontSizeLarge);
        }

        & img {

            margin-bottom:em($fontSizeLarge);

            @include media($screenLarge) {
                @include span-columns(5);
                @include shift(1);
            }
        }
        & h3 {
            font-size:em($fontSizeLarge);
            text-shadow:0px 3px 8px rgba(0,0,0,0.3);
        }
}
