section[role="main"] .related {
    background:white;
}
footer .related {
    padding:0;
}

.related {
    @include pad($spacingSection default);

    @include media($screenLarge) {
        @include pad($spacingSection 0);
    }

    & > * {
        max-width: $screenLarge;
        margin: 0 auto;
    }

    & h2 {
        color:$blueDark;
        margin:0 auto;
    }

    & a.resource span {
        display: none;
    }
    article {
        padding-left: 0;
        padding-right: 0;
    }
}

.single section[role="main"] .related {
    background:white;
}

.single footer .related {
    padding:0;

    & a {
        color:white;
        &:hover {
            text-decoration:underline;
        }
    }
    & ul {
        padding:$spacingSectionSmall 0;
    }
}

