section#steps {

	@include pad(0 default);
	@include media($screenLarge) {
		padding:0 0 $spacingSectionLarge 0;
	}
	background:$grayLight;
	border-top:$spacingSectionLarge solid white;
	& h2 {
		max-width:$screenOuter;
		margin:0 auto;
	}

	& ol {
		max-width: $screenOuter;
		margin:0 auto;
		& li {
			padding-bottom:$spacingSection;
			   &:not(:last-child):after {
	        content: '';
	        display: block;
	        margin: 0 auto;
        	margin-top:$spacingSectionSmall;
	        width: 100%;
			background: #565E64;
			height: 1px;
			opacity: 0.2;
	        height: 1px;
		    }
		}
	}

	& ol li:before {
		display:none;
	}
	& img {
		height:auto;
		margin-bottom:$spacingSectionSmall;
	}

	@include media($screenLarge) {

		& p {
			font-size:1em;
		}

		& li:nth-child(even) {


			& .enlarges {
				float:right !important;
				width:43%;
				& img {
					height:auto;
				}
			}

			& section.description {
				float:left;
			
				width:43%;
				margin:0;
				text-align:right;
			}

		}

		& .enlarges {
			width:43%;
			float:left;
			& img {
				height:auto;
			}
		}

		& section.description {
			width:43%;
			float:right;

		}

	}	
}