section#team {

	background:white;
	color:$gray;
	padding: $spacingSectionSmall 0;

	h2 {

		@include outer-container($screenOuter);
		margin-bottom:$spacingSection;
		text-align:center;

		@include media($screenLarge) {
			text-align:left;
		}
	}

	& ul.list {

		@include outer-container($screenOuter);
		margin:0 auto;
		display:block;

		& li {

			text-align:left;
			margin-bottom: $spacingSection;

			.contactNumber {
				font-size:90%;
			}
			& a {
				display:inline-block;
			}

			@include span-columns(12);
			text-align:center;

			@include media($screenMedium) {
				@include span-columns(3);
				text-align:left;
			}

			@include media($screenOuter) {
				@include span-columns(3);
				padding:2.35765% 2.35765% 2.35765% 0 ;
				&:nth-child(3n-1), &:nth-child(3n) {
					@include shift(1);
				}
			}

			& img {
				margin-bottom:24px;
				border-radius:1000px;
			}

		}

	}
}