section#team {

	@include outer-container($screenOuter);

	h2 {
		margin-bottom:$spacingSection;
		text-align:center;

		@include media($screenLarge) {
			text-align:left;
		}
	}

	& ul.list {

		& li {

			text-align:center;
			margin-bottom: $spacingSection;

			@include media($screenLarge) {
				@include span-columns(3);
				&:nth-child(3n-1), &:nth-child(3n) {
					@include shift(1);
				}
			}

			& img {
			border-radius:1000px;
			}

		}

	}
}