section#team {

	background:white;
	padding: $spacingSectionSmall 0;
	color:$grayDark;

	& a {
		color:$blueDark;
		&:before {
			content:''
		}
	}

	h2 {
		color:$blueDark;
		@include outer-container($screenOuter);
		margin-bottom:$spacingSection;
		text-align:center;

		@include media($screenLarge) {
			text-align:center;
		}
	}

	& ul.list {

		@include outer-container($screenOuter);
		margin:0 auto;
		display:block;

		& li {
			white-space:nowrap;
			text-align:center;
			margin-bottom: $spacingSection;
			& li:before {
			content: "";
			margin-left: -100%;
			}
			& li:after {
			content: "";
			margin-right: -100%;
			}

			.contactNumber {
				font-size:90%;
			}
			& a {
				display:inline-block;
			}

			@include span-columns(12);
			text-align:center;

			@include media($screenMedium) {
				@include span-columns(6);
				text-align:center;
				margin-right:0
			}

			@include media($screenOuter) {
				@include span-columns(4);
				margin-right:0;

				padding:2.35765% 2.35765% 2.35765% 0 ;
				&:nth-child(3n-1), &:nth-child(3n) {
					@include shift(0);
				}
			}

			& img {
				margin-bottom:24px;
				border-radius:1000px;
			}

		}

	}
}