.b-o-b .tabs.boxes {
    display: none;
}

#integrations {
    max-width: 850px;
    margin: 0 auto;
}
#systemataglance {
    max-width: $screenOuter;
    margin: 0 auto;
}
body.products.single, body.product-integrations {
    #below + article {
        display: none;
    }
    & > header {
        position: absolute;
        width: 100%;
        @include media(1280px) {}
    }
    .owl-carousel {
        margin-bottom: $spacingSectionSmall;
        position: relative;
        left: 8.3%;
        & .owl-stage-outer {
            @include media($screenLarge) {
                transform: scale(1.5, 1.5);
            }
        }
        & img {
            @include media($screenLarge) {
                @include shift(1);
            }
        }
    }
    & #nav-toggle span:before, #nav-toggle span:after, #nav-toggle span {
        cursor: pointer;
        height: 3px;
        width: 25px;
        .single &, .articles-and-brochures &, .single-brochure & {}
        position: absolute;
        display: block;
        content: '';
        background: white;
    }
    & #toggler {
        opacity: 0.8;
        & .menu-btn.text {}
    }
    & section[role="main"] {
        & article {
            h1 {
                display: none;
                @include opacity(0.7);
                color: white;
                font-weight: 700;
                position: absolute;
                line-height: 70%;
                top: -1%;
                left: -1%;
                text-align: center;
                width: 100%;
                z-index: -1;
                margin: 0 auto;
                max-width: 100%;
                & span {
                    display: block;
                    font-size: 50%;
                    line-height: 160%;
                }
            }
        }
        & .tabs {}
        .resp-tabs-list.four {
            min-height: 125px;
        }
        .resp-tab-content {
            line-height: 1.5em;
        }
        .resp-tab-content h3:first-child:before {
            background: transparent;
        }
        .resp-tab-content h3:before {
            width: 100%;
            height: 1px;
            display: block;
            background: #E0E0E0;
            margin-top: 1em;
            content: '';
            margin-bottom: 1em;
        }
        & .tabs aside.options {
			text-align:center;
            @include media($screenLarge) {
                @include span-columns(1);
            }

            & + h3 {
                color: $orange;
            }
            a {
				margin-right:20px;
                @include media($screenLarge) {
                    display: block;
                }

                margin-bottom: 10px;
                color: $blueDark;
                &:hover {
                    color: $teal;
                }
            }
        }
        & .tabs .images {
            margin-bottom: em($spacingSectionSmall);
            @include media($screenLarge) {
                @include span-columns(10);
                @include shift(0);
            }
        }
        & .tabs .images + footer {
            @include media($screenLarge) {
                @include span-columns(11);
                @include shift(1);
                margin-top: $spacingSection;
            }

            & ul {
                margin-bottom: em($spacingSectionSmall);
                @include media($screenLarge) {
                    @include span-columns(4);
                }

                & li {
                    &:first-child {
                        color: $orange;
                        margin-bottom: 4px;
                        font-weight: bold;
                    }
                    color: black;
                    font-size: em($fontSizeSmall);
                    line-height: em($fontSizeBody);
                    margin-bottom: 4px;
                    & a {
                        color: black;
                    }
                }
            }
        }
    }
}

section#steps {
    padding: 30px;
    @include media($bp-med) {
        padding: 92px 100px 0;
    }
    @include media($bp-large) {
        padding: 0;
        padding-top: 92px;
        h2 {
            margin-bottom: 60px;
        }
    }
}

section#integration-partners {
    background-color: $grayMed;
    .ip-container {
        max-width: 1100px;
        margin: 0 auto;
        @include display(flex);
        @include align-items(flex-start);
        @include flex-wrap(wrap);
        @include media($bp-small) {
            @include justify-content(center);
            @include align-items(center)
        }
    }
    .ip__single {
        margin-bottom: 50px;
        text-align: center;
        @include media($bp-med) {
            margin-bottom: 70px;
            @include flexboxcenter;
            @include flex(0 0 50%);
            @include flex-direction(column);
        }
        @include media($bp-large) {
            @include flexalignstart;
            @include flex-direction(row);
            @include flex(0 0 50%);
            text-align: left;
        }
        &:nth-child(odd) {
            @include media($bp-med) {
               margin-top: 10px;
               padding: 0 10%;
            }
            @include media($bp-large) {
               padding: 0 1% 0 8%;
               margin-top: 0;
            }
        }
        &:nth-child(even) {
            @include media($bp-med) {
               margin-top: 10px;
               padding: 0 10%;
            }
            @include media($bp-large) {
               padding: 0 8% 0 1%;
               margin-top: 0;
            }
        }
    }
    .ip__logo {
        position: relative;
        width: 100%;
        height: 100%;
        // padding: 20px;
        @include media($bp-med) {
           @include flex(0 0 30%);
        }
        @include media($bp-large) {
           text-align: right;
        }
        img {
            position: relative;
            max-width: 100px;
            height: auto;
            @include media($bp-med) {
               max-width: 100px;
            }
            @include media($bp-large) {
               max-width: 70%;
               height: auto;
               margin-right: 30px;
            }
        }
    }
    .ip__deats {
        @include flex(0 0 70%);
        // @include media($bp-med) {
        //    margin-top: 10px;
        //    padding: 0 10%;
        // }
        // @include media($bp-large) {
        //    padding: 0 10% 0 1%;
        //    margin-top: 0;
        // }
    }
}

img.product-thumbnail {
    max-height: 150px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

li.product.product-269 {
    img.product-thumbnail {
        margin: 30px auto;
    }
}


