.rma-form {
    & h1 {
        color: $gray;
    }
    & .gform_fields {
        width: 100%;
        & input, select {
            border: 1px solid $gray;
        }
    }
    .gform_wrapper .gform_page_footer .button.gform_previous_button,
    .gform_wrapper .gform_page_footer .button.gform_next_button {
        //background-color: #477dca;
        background-color:  $gray;
        border-radius: 3px;
        border: none;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        line-height: 1;
        padding: 0.75em 1em;
        text-decoration: none;
        font-size: 1em;
        width: auto;
        margin: 0 16px 0 0;
        vertical-align: middle;
        &:hover{
            background-color: #bebec0;
        }
    }
}

.ginput_recaptcha {
    >div {
        height: auto !important;
    }
}
