body.contact .gform_wrapper input[type="text"], body.contact .gform_wrapper  input[type="email"], body.contact .gform_wrapper textarea {

	background:white;
	border:0px;
	color: $blueDark;
	font-weight:300;
	border-radius:0;
	padding:16px 8px;
	font-size:1em;
	font-family: $fontPrimary;
	
}

body.contact .gform_wrapper , body.contact .gform_footer {
	margin:0;
	padding:0;
}

body .gform_wrapper input[type="submit"] {
	@extend .button;
	font-size:0.8em !important;
}
.gf_progressbar_percentage {
	border-radius:0px !important;
	background:$orange !important;
}
.gf_progressbar {
	border-radius:0px !important;
	box-shadow:none !important;
}

.gform_wrapper .gf_progressbar_percentage span {
	font-weight:bold;
	text-shadow:none !important;
}

.gform_wrapper .percentbar_blue {
    background-image: none !important;
    background-repeat: repeat-x;
    background-color: $orange;
    color: white;
}
.gform_wrapper .gf_progressbar {
	background:#efefef !important;
	border:0px !important;
	border-radius:0
}
.gf_progressbar_title {
	text-transform:uppercase;
}

.rma-form .gform_fields input {
    border: 1px solid $grayLight;
}
.gf_progressbar_wrapper {
	border-bottom:none !important;
}

body.rma-form .gform_wrapper input[type="text"], body.rma-form .gform_wrapper input[type="email"],  body.rma-form .gform_wrapper input[type="tel"], body.rma-form .gform_wrapper textarea {

    color: #001f3f;
    font-weight: 300;
    border-radius: 0;
    padding: 12px 8px;
    font-size: 1em;
    font-family: "open-sans";
    float:right;
    padding-right:20px;
}

body.rma-form {

& .gfield_label {
	position:relative;
	top:8px !important;
}

& .gform_wrapper .right_label input.medium, & .gform_wrapper .right_label select.medium, & .gform_wrapper .left_label input.medium, & .gform_wrapper .left_label select.medium {
    width: 58%;
    border-radius:0px !important;
}


& .gform_wrapper ul.right_label li, & .gform_wrapper form ul.right_label li, & .gform_wrapper ul.left_label li, & .gform_wrapper form ul.left_label li {
    margin:24px 0;
}
}

.gform_wrapper .left_label .gfield_label {
    float: left;
    margin: .75em 15px 0 0;
    width: 29%;
    font-weight: 400;
    font-family: inherit;
}
.gfield_required {
    color: $orange !important;
    font-size: 0.6em;
    top: -0.5em;
    display: inline-block;
    position: relative;
}

.gform_wrapper .gsection {
    border-bottom: 0px !important;
    color:$gray;
    padding: 0 0 .5em 0;
    margin: 1.8em 0;
    clear: both;
}

body.rma-form .gform_wrapper div.validation_error {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.6em;
    border: 1px solid $orange;
    background:$orange;
    color:white;
    padding: 1em;
    clear: both;
    width: 97.5%;
}

body.rma-form .gform_wrapper li.gfield.gfield_error, body.rma-form .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: $orange;
    margin-bottom: .375em !important;
    padding: 0;
}
body.rma-form .gfield_error {
	padding:0.25em !important;
}

body.rma-form .gform_wrapper li.gfield.gfield_error, body.rma-form .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background-color: $orange;
    margin-bottom: .375em !important;
    padding: 0;
}

body.rma-form .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    max-width: 97.5%;
    padding-right: 6px !important;
    font-weight:normal !important;
    font-style:italic;
    color:white;
}
body.rma-form .gform_wrapper .gfield_error .gfield_label {
    color: white;
}
body.rma-form .gform_wrapper li.gfield_error input[type=text], body.rma-form .gform_wrapper li.gfield_error input[type=url], body.rma-form .gform_wrapper li.gfield_error input[type=email], body.rma-form .gform_wrapper li.gfield_error input[type=tel], body.rma-form .gform_wrapper li.gfield_error input[type=number], body.rma-form .gform_wrapper li.gfield_error input[type=password], body.rma-form .gform_wrapper li.gfield_error textarea {
    
}

body.rma-form li.gfield_error .gfield_required {
	color:white !important;
}

.gform_wrapper .gform_page_footer .button.gform_next_button, .gform_wrapper .gform_page_footer .button.gform_button {
    border:none;
    font-weight:bold;
    letter-spacing:1px;
    background:$orange;
    color:white;
    padding:12px;
    text-transform:uppercase;

    &:hover {
    background:$teal;
    
    }
}