nav.left {
    & ul {
        list-style: none;
        & li {
            float: left;
            list-style: none;
            & a {
                display: block;
            }
        }
    }
}
