section#timeline {
    & > ul {
        margin: 0;
        & > li {
            @include media($screenLarge) {
                list-style: none;
                width: 40%;
            }
        }
    }
}
