section[role="main"] section#banner {
    position: relative;
    @include pad(25px 0 14px default);
    @include media($screenMedium) {
        padding: em($fontSizeSmall) 2.37% !important;
    }
    @include media($screenLarge) {
        padding: 92px 2.37% !important;
	}	
	+ #scrollDown i {
		display:none;
		@include media($screenLarge) {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transform: translate(0, 0);
			position: absolute;
			margin-top: -140px;
			left: 50%;
			margin-left: -28px;
			border: 3px solid white;
			border-radius: 1000px;
			width: 57px;
			text-align: center;
			line-height: 50px;
			letter-spacing: 0;
			opacity: 1;
			color: white;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

#below {
    visibility: hidden;
}

.masthead {
    @include media($screenLarge) {
        min-height: 500px;
    }

    & h4 {
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    }
}

.masthead.compatible-header {
    h1 {
        @include media($bp-small) {
            font-size: $base-font-size * 2;
        } 
    }
    h4 {
       @include media($bp-small) {
           font-size: $base-font-size * 0.9;
       } 
    }
}

.background.enabled {
    & ~ .text {
        text-align: center;       
		margin: 40px auto 0;
		@include media($bp-med) {
			margin: 0 auto;
            width: 60%;
		}
    }
    & ~ .bannerImage {
        display: none;
    }
}

.banner {
    flex-direction: column;
    @include media($bp-med) {
        max-height: 60vh;
        display: flex;
        flex-direction: row-reverse;
        min-height: 700px;
        max-width: 1080px;
        margin: 0 auto;
    }
    align-items: center;
    color: white;
    .bannerImage {
        margin: 0 auto;
        @include pad(5vh default 0 default);
        display: block;
        min-width: 1px;
        @include media($bp-med) {
            margin-right: -17.4%;
            width: 100%;
            height: auto;
        }
        @include media($bp-large) {
            @include shift(1);
        }
    }
    & .text {
        max-width: 100%;
        
        @include media($bp-small) {
            padding: 0 30px;
        }
        @include media($bp-med) {
            width: 50%;
            text-align: left;
            padding-left: 50px;
        }
        @include media($bp-large) {
            width: 50%;
            text-align: left;
            padding-left: 0;
        }

        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        & h4 {
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
            font-size: 1.375rem;
        }
        margin-bottom: $spacingSectionSmall;
    }
    & h1 {
        padding-bottom: 18px;
    }
}

.banner.auvtowedexplorer {
    .background {
        background-position-x: right;
    }
    @include media($bp-small) {
        margin-right: -5vw;
    }
    @include media($bp-large) {
        min-height: 100vh;
    }

    
}

.bannerImage.seaspy {
    width: 120%;
    -webkit-filter: drop-shadow(0 15px 10px rgba(0,0,0,0.5));
    filter: drop-shadow(0 15px 10px rgba(0,0,0,0.5));
    @include media($bp-small) {
        margin-right: -5vw;
    }
    @include media($bp-xlarge) {
        margin-right: -18vw;
    }
}

.bannerImage.seaquestgradarray {
    @include media($bp-xlarge) {
        margin-right: -18vw;
    }
}

.bannerImage.seaspygradiometer {
    -webkit-filter: drop-shadow(0 15px 10px rgba(0,0,0,0.5));
    filter: drop-shadow(0 15px 10px rgba(0,0,0,0.5));
}

.banner.explorer {
    .bannerImage.explorer {
        -webkit-filter: drop-shadow(0 15px 10px rgba(0,0,0,0.5));
        filter: drop-shadow(0 15px 10px rgba(0,0,0,0.5));
        @include media($bp-med) {
            margin-left: -10%;
        }
        @include media($bp-large) {
            
        }

    }
}

.banner.seasentinel {
    @include display(flex);
    @include justify-content(space-between);
    .text {
        @include flex (0 0 40%);
    }
    .bannerImage.seasentinel {
        max-height: 350px;
        opacity: 0.8;
        @include media($bp-med) {
            margin-left: -10%;
            margin-bottom: -10%;
            width: auto;
            max-height: 600px;
        }
        @include media($bp-large) {
            margin-right: -10%;
            margin-left: 0;
        }

    }
}

.bannerImage.seaquest {
    @include media($bp-xlarge) {
        margin-right: -20vw;
    }
}

.banner.genesis {
    @include display(flex);
    @include justify-content(space-between);
    .text {
        @include flex (0 0 40%);
    }
    .bannerImage.genesis {
        max-height: 200px;
        margin-top: 20px;
        @include media($bp-med) {
            margin-top: 0;
            margin-left: -10%;
            width: auto;
            max-height: 400px;
        }
        @include media($bp-large) {
            margin-left: 20px;
            margin-bottom: -300px;
            width: auto;
            max-height: 800px;
        }
    }
}


.banner.wirelessgnss {
    @include display(flex);
    @include justify-content(space-between);
    .text {
        @include flex (0 0 40%);
    }
    .bannerImage.wirelessgnss {
        max-height: 200px;
        margin-top: 20px;
        @include media($bp-med) {
            margin-top: 0;
            margin-left: -10%;
            width: auto;
            max-height: 400px;
        }
        @include media($bp-large) {
            margin-left: 20px;
            margin-bottom: -300px;
            width: auto;
            max-height: 800px;
        }
    }
}


.owl-carousel, .banner .owl-carousel {
    color: white;
    padding-top: 4em;
    @include media($screenLarge) {
        padding-top: 0;
    }

    @include media($screenLarge) {
        width: 50%;
    }

    & .owl-stage {
        transition: 0.001s !important;
    }
    & .owl-item {
        display: flex;
        align-items: center;
        height: 100%;
        & img {
            max-height: 100vh;
        }
    }
    & .owl-item .item {
        @include pad(em($fontSizeLarge));
        @include media($screenLarge) {
            display: flex;
            align-items: center;
        }

        & section {
            @include media($screenLarge) {
                @include span-columns(5);
            }
        }
    }
    & p, & h3 {
        margin-bottom: em($fontSizeLarge);
    }
    & img {
        margin-bottom: em($fontSizeLarge);
        @include media($screenLarge) {
            margin-right: -17.4%;
            @include shift(1);
            width: 100%;
            height: auto;
        }
    }
    & h3 {
        font-size: em($fontSizeLarge);
        text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    }
}


.banner.sidescan .text,
.banner.explorerauv .text {
    h1, h4 {
        margin: 0 auto;
    }
}
