section[role="main"] .related {
    // background: white;
    // background: transparent;
    @include media($bp-small) {
        padding: 30px;
    }
}

footer .related {
    padding: 0;
}

.related {
    margin: 0 auto;
    @include pad($spacingSection default);
    @include media($screenLarge) {
        @include pad($spacingSection 0);
    }

    & > article {
        @include pad(0 0 $spacingSectionSmall 0);
    }
    & > * {
        max-width: $screenLarge;
        margin: 0 auto;
    }
    & h2 {
        color: $blueDark;
        margin: 0 auto;
    }
    & a.resource span {
        display: none;
    }
    article {
        padding-left: 0;
        padding-right: 0;
    }
}

.single section[role="main"] .related {
    // background: white;
    background: transparent;
    padding: 0;
}

.single footer .related {
    padding: 0;
    & a {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
    & ul {
        padding: $spacingSectionSmall 0;
    }
}

.related-post__single {
    a {
        color: $blueDark;
        &:hover {
            // color: $orange;
        }
    }
}

article.overview header h3,
article.overview header h3 a {
    color: $orange !important;
    line-height: 110%;
    &:hover {
        color: $teal !important;
    }
}

.content-box__system-consists-of {

}
