section.related {
	@include media($bp-med) {
	    padding: 50px 70px;
	}
    & ul {
        padding-top: $spacingSectionSmall;
        & li {
            margin: 0 0 20px 0;
            & > a {
                padding: 10px 20px;
                font-weight: 500;
                transition: 0.2s all ease-in-out;
                color: white;
                text-decoration: none;
                display: inline-block;
                background: $teal;
                &:hover {
                    background: white !important;
                    color: $blueDark;
                    text-decoration: none !important;
                }
            }
        }
        & li.product-integrations a {
            background: $teal;
        }
        & li.base-stations a, & li.hardware-product-integrations a {
            background: $teal;
        }
        & li.marine-gradiometers a, & li.software-product-integrations a {
            background: $blueLight;
        }
        & li.marine-magnetometers a {
            background: $orange;
        }
    }
}

.drawing-content {
	overflow:hidden;
	max-width:850px;
	margin:0 auto;
	h6 {
		color: $orange;
		font-weight:bold;
	}
	.drawing-content-box {
		margin-bottom:20px;
		@include media($screenLarge) {
			// @include span-columns(4);
			// margin-bottom:0px;
			width: 30%;
			display: inline-block;
			vertical-align: top;
			margin: 0 4% 0 0;
		}
		h4 {
			font-size: 1.1em;
			line-height: 1.125em;
			font-weight: bold;
			color: $orange;
			margin-bottom: 10px;
		}
		ul {
			list-style-type: disc;
			// margin-left: 20px;
			.tabs #systemataglance & { 
				display: block;
				margin: 0;
				width:100%;
				li {
					width:100%;
					text-align:left;
					font-size: 0.8em;
					line-height: 1.1em;
                    margin-bottom: 10px;
                    position: relative;
                    padding-left: 25px;
                    &:before {
                    	content: "";
                    	background-color: black;
                    	position: absolute;
                    	width: 4px;
                    	height: 4px;
                    	border-radius: 50%;
                    	left: 10px;
                    	top: 6px;
                    }
					a {
						background:none;
						color:$teal;
						font-size: 0.8em;
						line-height: 1.1em;
						padding:0;
						// border-bottom: 1px
                    }
				}
			}
			display:block;
			padding:0;
		}
	}
}

article.overview section>footer.brochure-footer {
	padding-top: 0;
}
