section.related {
    & ul {
        padding-top: $spacingSectionSmall;
        & li {
            margin: 0 0 20px 0;
            & > a {
                padding: 10px 20px;
                font-weight: 500;
                transition: 0.2s all ease-in-out;
                color: white;
                text-decoration: none;
                display: inline-block;
                background: $teal;
                &:hover {
                    background: white !important;
                    color: $blueDark;
                    text-decoration: none !important;
                }
            }
        }
        & li.product-integrations a {
            background: $teal;
        }
        & li.base-stations a, & li.hardware-product-integrations a {
            background: $teal;
        }
        & li.marine-gradiometers a, & li.software-product-integrations a {
            background: $blueLight;
        }
        & li.marine-magnetometers a {
            background: $orange;
        }
    }
}

.drawing-content {
	overflow:hidden;
	max-width:850px;
	margin:0 auto;
	h6 {
		color: $orange;
		font-weight:bold;
	}
	.drawing-content-box {
		margin-bottom:20px;
		@include media($screenLarge) {
			@include span-columns(4);
			margin-bottom:0px;
		}
		ul {
			.tabs #systemataglance & { 
				display: block;
				margin: 0;
				width:100%;
				li {
					width:100%;
					text-align:left;
					font-size: em($fontSizeSmall);
                    line-height: em($fontSizeBody);
                    margin-bottom: 4px;
					&:first-child {
						color:$orange;
						font-weight:bold;
					}
					a {
						background:none;
						color:black;
						font-size: em($fontSizeSmall);
						line-height: em($fontSizeBody);
						padding:0;
                    }
				}
			}
			display:block;
			padding:0;
		}
	}
}
