@include media($screenLarge) {
    section[role="main"] > section.tabs {
        padding-left: 0;
		padding-right: 0;
		&.tabs-2 {
			padding-bottom:0;
			padding-top:0;
		}
    }
}

#additionaloptions {
    max-width: 850px;
    margin: 0 auto;
}

.resp-tab-content {
    @include pad($spacingSectionSmall default);
    @include media($screenLarge) {
        @include pad($spacingSectionSmall 0);
    }
}

.tabs {
    .gimages {
        float: left;
        margin-bottom: 20px;
    }
    & #systemataglance img {
        /*max-width:250px;*/
        height: auto;
    }
    & #systemataglance ul {
        width: 100%;
        @include media($screenLarge) {
            width: 30%;
        }
    }
    & h2 {
        @include pad($spacingSectionSmall default);
        @include media($screenLarge) {
            @include pad(0 0 $spacingSectionLarge 0);
        }
    }
    background: white;
    & header {
        margin-bottom: 96px;
    }
    &.boxes .resp-tabs-list li span {
        //border-bottom: 1px solid;
    }
    & > section {
        display: none;
        &.active {
            display: block;
        }
    }
    & h2 {
        color: $blueDark;
        margin: 0 auto;
    }
    .resp-tabs-list {
        & li {
            flex: 1 0 auto;
        }
    }
    .resp-accordion {
        background: $blueDark;
        &.resp-tab-active {
            background: white;
        }
        & div {
            @include pad($spacingSectionSmall default);
            display: block;
            & h4 {
                font-weight: normal;
                font-size: em($fontSizeSmall);
                line-height: em($fontSizeBody);
                @include media($screenLarge) {
                    font-size: em($fontSizeBody);
                    line-height: em($fontSizeBody);
                }
            }
            & p {
                font-size: em($fontSizeSmall);
            }
        }
    }
    & ul.two {
        margin: 0;
        padding: 0;
        @include media($screenLarge) {
            display: flex;
            flex-direction: row;
            align-items: stretch;
        }

        & li {
            width: 50%;
            float: left;
            background: $blueDark;
            transform: all 0.3s ease-in-out;
            &:hover {
                background: $blueSteel;
            }
            display: flex;
            align-items: stretch;
            flex-direction: column;
            color: white;
            &.resp-tab-active {
                background: white;
                color: $blueDark;
                & h3 {
                    //border-bottom: 1.5px solid $blueDark;
                }
                &:hover {
                    background: white;
                }
            }
            & h3 {
                display: inline-block;
                //border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
            }
            & div {
                padding: 48px 4.7153%;
                display: block;
                & h4 {
                    font-size: em($fontSizeSmall);
                    line-height: em($fontSizeBody);
                    @include media($screenLarge) {
                        font-size: em($fontSizeBody);
                        line-height: em($fontSizeBody);
                    }
                }
                & p {
                    font-size: em($fontSizeSmall);
                }
            }
        }
    }
    & .resp-tab-content.two {
        margin-top: $spacingSection;
        @include media($screenLarge) {
            margin-top: $spacingSectionLarge;
        }
    }
}

.resp-tabs-container {
    h6 span {
        border-bottom: 1px solid;
    }
}

.resp-tabs-container.two {
    & p {
        font-size: rem($fontSizeBody) !important;
    }
    & .resp-accordion h3 {
        padding-top: $spacingSectionSmall;
    }
}

.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

select--white {
    background-color: #fff;
    color: #444;
}

@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    select {
        padding-right: 2.5em;
        /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
    }
    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }
    .custom-dropdown::after {
        /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -.5em;
    }
    .custom-dropdown::before {
        /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0 3px 3px 0;
    }
    select[disabled] {
        color: rgba(0, 0, 0, 0.3);
    }
    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0, 0, 0, 0.1);
    }
    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em;
        bottom: .5em;
        background-color: #fff;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
    .custom-dropdown--white::after {
        color: rgba(0, 0, 0, 0.9);
    }
    /* FF only temp fix */
    @-moz-document url-prefix() {
        select {
            padding-right: 0.9em;
        }
        .custom-dropdown--large select {
            padding-right: 1.3em;
        }
        .custom-dropdown--small select {
            padding-right: 0.5em;
        }
    }
}

body.rma-form article {
    max-width: 1080px;
}

// NEW TECHNICAL DRAWING LAYOUT

#systemataglance {

    .drawing-images {
        margin: 50px 0;

    }

    #drawing__list {
        @include media($bp-med) {
            @include display(flex);
            @include flex-wrap(wrap);
            @include align-items(flex-start);
            @include justify-content(flex-start);
        }
        li.drawing--twelve {
            
            @include media($bp-med) {
                @include flex(0 0 100%);
            }
        }
        li.drawing--nine {
            
            @include media($bp-med) {
                @include flex(0 0 75%);
            }
        }
        li.drawing--eight {
            
            @include media($bp-med) {
                @include flex(0 0 66.66%);
            }
        }
        li.drawing--six {
            
            @include media($bp-med) {
                @include flex(0 0 50%);
            }
        }
        li.drawing--three {
            
            @include media($bp-med) {
                @include flex(0 0 33.33%);
            }
        }
        li.drawing--default {
            
            @include media($bp-med) {
                @include flex(0 0 100%);
            }
        }
        li {
            margin: 0;
            padding: 0;
            position: relative;
            div {
                position: relative;
            }
        }
    }
}


#explorer-tabs {
    #drawing__list {
        li.drawing--nine {
            @include media($bp-med) {
                margin-top: 2rem;
            }
        }
        li.drawing--eight {
            @include media($bp-med) {
                margin-top: 2rem;
            }
        }
        li.drawing--three {
            @include media($bp-med) {
                margin-top: 3rem;
            }
        }
    }
}

.tabs #systemataglance .drawing-images ul#drawing__list li p:first-of-type {
    font-weight: bold;
}


