//Mobile first - Global Settings
$susy: (columns: 6, gutters: 1, gutter-position: inside);

//Layouts
$desktop: layout(12);

.container {
    @include container(80em);
    position: relative;
}

header {
    position: relative;
    z-index: 2000;
}

.span-4 {
    @include span(6);
    @include susy-breakpoint(55em, $desktop) {
        @include span(4);
    }
}

.span-6 {
    @include span(6);
    @include susy-breakpoint(55em, $desktop) {
        @include span(6);
    }
}

.span-8 {
    @include span(6);
    @include susy-breakpoint(55em, $desktop) {
        @include span(8);
    }
}

.span-10 {
    @include span(6);
    @include susy-breakpoint(55em, $desktop) {
        @include span(10);
    }
}

.span-12 {
    @include span(6);
    @include susy-breakpoint(55em, $desktop) {
        @include span(12);
    }
}

.logo {
    opacity: 1;
    h1 {

        background-image: url(images/logo.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: 0;
        height: 101px;
        margin-left: 0;
        margin-top: 20px;
        max-width: 412px;
        padding: 0;
        width: 75%;
        @include susy-breakpoint(55em, $desktop) {
            width: 100%;
        }
        a {
            display: block;
            text-indent: -999em;
        }
    }
    a:hover & {
        opacity: .5;
        transition: opacity .3s ease-in-out;
    }
}