$total-columns: 7;
$column-width: 3.5em;
$gutter-width: 1.5em;
$grid-padding: $gutter-width;
$desktop: 55em 15;

@include border-box-sizing;

.wrapper {
    background: #fff;
    position: relative;
}

.container {
    @include container($total-columns, $desktop);
    overflow: hidden;
}

header {
    position: relative;
}

nav {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

aside {
    @include span-columns(7);
    @include at-breakpoint($desktop) {
        @include span-columns(4);
    }
}

article {
    @include span-columns(7);
    @include at-breakpoint($desktop) {
        @include span-columns(10 omega);
        @include suffix(1);
    }
}

footer {
    background: $black;
}

.row {
    @include span-columns(7);
    @include at-breakpoint($desktop) {
        @include pad(2, 2);
        @include span-columns(15);
    }
}

.columns-2 {
    @include isolate-grid(7);
    @include at-breakpoint($desktop) {
        @include isolate-grid(7);
    }
}

.columns-3 {
    @include isolate-grid(7);
    @include at-breakpoint($desktop) {
        @include isolate-grid(5);
        &:nth-child(2) {
            @include pad(0, 1);
        }
    }
}