.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

.product_slide {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    p {
        @include adjust-font-size-to(13px);
        margin-bottom: 0;
    }
    li {
        min-height: 100px;
        overflow: hidden;
        position: relative;
        .grid-5 {
            float: left;
            min-height: 100px;
            position: relative;
            width: 50%;
        }
        .product_slide_content {
            width: 80%;
        }
        &.left {
            text-align: left;
            .product_slide_mask {
                right: -66px;
            }
            .product_slide_icon {
                right: -67px;
            }
        }
        &.right {
            text-align: right;
            .product_slide_icon {
                left: -5px;
            }
            .product_slide_mask {
                left: -5px;
            }
            .product_slide_content {
                padding-left: 100px;
            }
        }
        &.first {
            .product_slide_mask {
                top: 0px;
            }
        }
        &.last {
            .product_slide_mask {
                top: 0px;
            }
        }
        .product_slide_mask {
            background: url(images/sprite.png) 0 0;
            bottom: 0;
            position: absolute;
            top: 69px;
            width: 71px;
        }
        .product_slide_icon {
            background: url(images/sprite.png) -72px 0;
            height: 69px;
            position: absolute;
            top: 0;
            width: 72px;
        }
        .icon-2 {
            background-position: -144px 0;
        }
    }
}

.fade {
    & h5, p {
        color: #43607f;
    }
}

.stem {
    height: 0px;
    position: relative;
    z-index: -1;
    .stem_bg_white {
        background: #FFF;
        height: 100%;
        left: 49.7%;
        position: fixed;
        top: 0;
        width: 71px;
        z-index: 0;
    }
    .stem_bg_green {
        @include transition(all 0.5s);
        background: #67c4a1;
        height: 50%;
        left: 49.7%;
        position: fixed;
        top: 0px;
        width: 71px;
        z-index: 1;
    }
}