.content-wrapper {
    background: $body_bg;
}

.front-headline {

    @include adjust-font-size-to(130px);
    @include text-shadow(0 0 81px #003770);
    color: $white;
    font-family: $ubuntulight;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    @include susy-breakpoint(55em, $desktop) {
        @include adjust-font-size-to(270px);
    }
    & a {
        color: $light-gray;
    }
}

.section-headline {
    margin-bottom: 250px;
}

.headline {
    @include adjust-font-size-to(110px);
    @include text-shadow(0 0 32px #003770);
    color: $white;
}

.sub-headline {
    @include adjust-font-size-to(41px);
    @include text-shadow(0 0 32px #003770);
    color: $white;
    font-family: $ubuntulight;
    padding-bottom: 130px;
    .home & {
        @include adjust-font-size-to(50px);
        padding-bottom: 60px;
    }
}

.meta {
    @include adjust-font-size-to(16px);
    font-family: $ubunturegular;
    span {
        display: block;
        & a {
            color: $body_bg;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.inline-meta span {
        display: inline-block;
        margin-bottom: 50px;
        margin-top: 20px;
    }
}

.sub-meta {
    @include adjust-font-size-to(16px);
    color: $body_bg;
    margin-bottom: 20px;
}

.small {
    @include adjust-font-size-to(14px);
}

.wp-caption, .wp-caption-text {
    @include adjust-font-size-to(5px);
    color: #666;
}

footer {
    background: #001f3f;
    color: $white;
    padding: 80px 0px;
    .span-10 {
        float: none;
        margin: 0 auto;
    }
    h2 {
        padding: 50px 0 100px;
    }
    h4 {
        margin-top: 0;
    }
    .span-6:last-child {
        @include susy-breakpoint(55em, $desktop) {
            border-left: 1px solid $white;
            padding-left: 50px;
        }
    }
    a {
        color: $white;
    }
}

.single-post {
    #big-video-wrap {
        display: none;
    }
    header {
        position: fixed;
        width: 100%;
    }
    nav {
        background: $body_bg;
    }
    &.offcanvas .offcanvas-menu-button a:hover {
        border-color: $white;
    }
    &.offcanvas .offcanvas-menu-button a:hover:before {
        background-position: 0px 0;
    }
    .page-content {
        background: none;
    }
    .wrapper {
        background: #e7e7e7;
        .center {
            color: $body_bg;
            h2 {
                line-height: 1.35em;
                margin: 70px 0 80px;
            }
            p {
                margin-bottom: 40px;
                margin-top: 20px;
            }
        }
    }
    h3 {
        font-family: $ubuntubold;
        margin: 50px 0 25px;
    }
}

a.download {
    @include adjust-font-size-to(18px);
    font-family: $ubuntubold;
    font-weight: 400;
    padding-left: 32px;
    position: relative;
    text-decoration: none;
    &:before {
        background: url(images/site-icons.png) no-repeat;
        content: '';
        height: 27px;
        left: 0;
        position: absolute;
        top: -9px;
        width: 27px;
    }
}

a.more {
    @include adjust-font-size-to(18px);
    font-family: $ubuntubold;
    font-weight: 400;
    margin-left: 15px;
    padding-left: 32px;
    position: relative;
    text-decoration: none;
    &:before {
        background: url(images/site-icons.png) no-repeat -52px 0;
        content: '';
        height: 17px;
        left: 0;
        position: absolute;
        top: -5px;
        width: 27px;
    }
}

.description {
    @include adjust-font-size-to(30px);
    color: #4da483;
    font-family: $ubunturegular;
    line-height: 1.5em;
    margin: 50px 0 100px;
}

.page-title {
    padding-bottom: 200px;
    position: relative;
    &:after {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 31, 63, 0)), color-stop(100%, $body_bg));
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 31, 63, 0)), to($body_bg));
        background: -webkit-linear-gradient(top, rgba(0, 31, 63, 0) 0%, $body_bg 100%);
        background: linear-gradient(to bottom, rgba(0, 31, 63, 0) 0%, $body_bg 100%);
        bottom: 0;
        content: "";
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$body_bg',endColorstr='$body_bg',GradientType=0);
        height: 35%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}

.page-content {
    background-color: $body_bg;
    padding: 0px 0 200px;
    position: relative;
}

.related {
    div.span-5 {
        padding-left: 0;
    }
    h3 {
        margin-top: 30px;
    }
}

.green-box {
    color: #4DA483;
    & p, h3, a {
        color: #4DA483;
    }
    & a.download:before {
        background-position: -29px 0;
    }
    & a.more:before {
        background-position: -78px 0;
    }
}

.articles-and-brochures, .single-brochure {
    @extend .single-post;
}

.single-product {
    background: $body_bg;
    & video#bgvid {
        position: relative;
        z-index: 1;
    }
    header {
        width: 100%;
    }
    .header-image {
        left: 10%;
        position: absolute;
        top: 0;
        width: 80%;
        z-index: 1;
    }
    nav {
        background: $body_bg;
    }
    .wrapper {
        background: none;
        padding: 143px 0 0 0;
    }
    .page-title {
        background: $body_bg;
    }
    &.offcanvas .offcanvas-menu-button a:hover {
        border-color: $white;
    }
    &.offcanvas .offcanvas-menu-button a:hover:before {
        background-position: 0px 0;
    }
    .video-wrapper {
        position: relative;
        &:after {
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 31, 63, 0)), color-stop(100%, $body_bg));
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 31, 63, 0)), to($body_bg));
            background: -webkit-linear-gradient(top, rgba(0, 31, 63, 0) 0%, $body_bg 100%);
            background: linear-gradient(to bottom, rgba(0, 31, 63, 0) 0%, $body_bg 100%);
            bottom: 0;
            content: "";
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$body_bg',endColorstr='$body_bg',GradientType=0);
            height: 35%;
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }
    .page-content {
        background: none;
        margin-top: -6px;
        padding-bottom: 0;
    }
    #title {
        background: $body_bg;
        margin-bottom: 0;
        padding-bottom: 100px;
        padding-top: 100px;
    }
}

.filter {
    list-style: none;
    padding: 0;
    li {
        background: #d1d1d1;
        display: inline-block;
        float: left;
        a {
            @include adjust-font-size-to(14px);
            display: block;
            font-family: $ubuntubold;
            padding: 5px 15px 8px;
            text-decoration: none;
        }
    }
}

.error404 {
    .page-title {
        padding-bottom: 5px;
    }
    .page-content {
        p {
            color: $white;
            text-align: center;
        }
        #menu-404-page-menu {
            list-style: none;
            padding: 0;
            text-align: center;
            li {
                display: inline-block;
                a {
                    border-right: 3px solid #fff;
                    color: $white;
                    font-family: $ubuntubold;
                    padding: 0px 15px 0 7px;
                }
                &:last-child a {
                    border: none;
                }
            }
        }
    }
}

.contact {
    .contact-map {
        height: 100%;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .wrapper {
        background: rgba(0, 116, 217, 0.7);
        .page-title {
            &:after {
                background: none;
            }
        }
        .page-content {
            background: none;
            a {
                color: $white;
            }
        }
    }
}

.green-bg {
    background: #67c4a1;
    padding: 240px 0;
    position: relative;
}

.grey-bg {
    @extend .green-bg;
    background: #e7e7e7;
    color: $body_bg;
}

#title {
    margin-bottom: 100px;
}

.configuration_list {
    position: relative;
    ul {
        @include transition(all 0.5s);
        display: none;
        list-style: none;
        padding: 30px 0 70px;
        li {

            min-height: 200px;
            padding: 0 0 40px 0px;
            position: relative;
            @include susy-breakpoint(55em, $desktop) {
                padding: 0 0 40px 375px;
            }
            img {
                @include susy-breakpoint(55em, $desktop) {
                    left: 0;
                    position: absolute;
                    top: 17px;
                    width: 300px;
                }
            }
            p {
                @include adjust-font-size-to(13px);
            }
            & a:hover {
                color: #001F3F;
            }
        }
    }
    h3 {
        margin-top: 30px;
        &:after {
            border-color: $white transparent transparent transparent;
            border-style: solid;
            border-width: 12px 10px 0 10px;
            content: '';
            margin-left: 15px;
            position: absolute;
            top: 15px;
            @include susy-breakpoint(55em, $desktop) {
                top: 20px;
            }
        }
        &.active:after {
            border-color: transparent transparent transparent $white;
            border-style: solid;
            border-width: 10px 0px 10px 12px;
            position: absolute;
            top: 8px;
            @include susy-breakpoint(55em, $desktop) {
                top: 17px;
            }
        }
    }
}

a.morelink {
    display: block;
    outline: none;
    &:after {
        border-color: $body_bg transparent transparent transparent;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        content: '';
        margin-left: 10px;
        position: absolute;
        top: 9px;
        @include susy-breakpoint(55em, $desktop) {
            border-width: 12px 10px 0 10px;
            top: 20px;
        }
    }
    &.less:after {
        border-color: transparent transparent transparent $body_bg;
        border-style: solid;
        border-width: 6px 0px 6px 8px;
        position: absolute;
        top: 6px;
        @include susy-breakpoint(55em, $desktop) {
            border-width: 10px 0px 10px 12px;
            top: 17px;
        }
    }
}

.morecontent {
    @include transition(all 0.5s);
    position: relative;
    span {
        display: none;
    }
}

.hide-on-mobile {
    display: none;
    @include susy-breakpoint(55em, $desktop) {
        display: block;
    }
}