.content-wrapper {
    background: $body_bg;
}

.front-headline {
    @include adjust-font-size-to(270px);
    @include text-shadow(0 0 81px #003770);
    color: $white;
    font-family: $ubuntulight;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    & a {
        color: $light-gray;
    }
}

.headline {
    @include adjust-font-size-to(110px);
    @include text-shadow(0 0 32px #003770);
    color: $white;
}

.sub-headline {
    @include adjust-font-size-to(41px);
    @include text-shadow(0 0 32px #003770);
    color: $white;
    font-family: $ubuntulight;
    padding-bottom: 130px;
    .home & {
        @include adjust-font-size-to(50px);
        padding-bottom: 60px;
    }
}

.meta {
    @include adjust-font-size-to(16px);
    font-family: $ubunturegular;
    span {
        display: block;
        & a {
            color: $body_bg;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.inline-meta span {
        display: inline;
    }
}

.sub-meta {
    @include adjust-font-size-to(16px);
    color: $body_bg;
    margin-bottom: 20px;
}

.small {
    @include adjust-font-size-to(14px);
}

.wp-caption, .wp-caption-text {
    @include adjust-font-size-to(5px);
    color: #666;
}

footer {
    background: #001f3f;
    color: $white;
    padding: 80px 0px;
    .span-10 {
        float: none;
        margin: 0 auto;
    }
    h2 {
        padding: 50px 0 100px;
    }
    h4 {
        margin-top: 0;
    }
    .span-6:last-child {
        @include susy-breakpoint(55em, $desktop) {
            border-left: 1px solid $white;
            padding-left: 50px;
        }
    }
    a {
        color: $white;
    }
}

.single-post {
    #big-video-wrap {
        display: none;
    }
    header {
        position: fixed;
        width: 100%;
    }
    nav {
        background: $body_bg;
    }
    .page-content {
        background: none;
    }
    .wrapper {
        background: #e7e7e7;
        .center {
            color: $body_bg;
            h2 {
                line-height: 1.35em;
                margin: 70px 0 80px;
            }
            p {
                margin-bottom: 40px;
                margin-top: 20px;
            }
        }
    }
    h3 {
        font-family: $ubuntubold;
        margin: 50px 0 25px;
    }
}

a.download {
    @include adjust-font-size-to(18px);
    font-family: $ubuntubold;
    font-weight: 400;
    padding-left: 32px;
    position: relative;
    text-decoration: none;
    &:before {
        background: url(images/site-icons.png) no-repeat;
        content: '';
        height: 27px;
        left: 0;
        position: absolute;
        top: -9px;
        width: 27px;
    }
}

a.more {
    @include adjust-font-size-to(18px);
    font-family: $ubuntubold;
    font-weight: 400;
    margin-left: 15px;
    padding-left: 32px;
    position: relative;
    text-decoration: none;
    &:before {
        background: url(images/site-icons.png) no-repeat -52px 0;
        content: '';
        height: 17px;
        left: 0;
        position: absolute;
        top: -5px;
        width: 27px;
    }
}

.description {
    @include adjust-font-size-to(30px);
    color: #4da483;
    font-family: $ubunturegular;
    line-height: 1.5em;
    margin: 50px 0 100px;
}

.page-title {
    padding-bottom: 200px;
    position: relative;
    &:after {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 31, 63, 0)), color-stop(100%, $body_bg));
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 31, 63, 0)), to($body_bg));
        background: -webkit-linear-gradient(top, rgba(0, 31, 63, 0) 0%, $body_bg 100%);
        background: linear-gradient(to bottom, rgba(0, 31, 63, 0) 0%, $body_bg 100%);
        bottom: 0;
        content: "";
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$body_bg',endColorstr='$body_bg',GradientType=0);
        height: 35%;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}

.page-content {
    background-color: $body_bg;
    padding: 0px 0 200px;
    position: relative;
}

.related {
    div.span-5 {
        padding-left: 0;
    }
    h3 {
        margin-top: 30px;
    }
}

.green-box {
    color: #4DA483;
    & p, h3, a {
        color: #4DA483;
    }
    & a.download:before {
        background-position: -29px 0;
    }
    & a.more:before {
        background-position: -78px 0;
    }
}

.articles-and-brochures {
    @extend .single-post;
}

.filter {
    list-style: none;
    padding: 0;
    li {
        background: #d1d1d1;
        display: inline-block;
        float: left;
        a {
            @include adjust-font-size-to(14px);
            display: block;
            font-family: $ubuntubold;
            padding: 5px 15px 8px;
            text-decoration: none;
        }
    }
}

.error404 {
    .page-title {
        padding-bottom: 0px;
    }
    .page-content {
        p {
            color: $white;
            text-align: center;
        }
        #menu-404-page-menu {
            list-style: none;
            padding: 0;
            text-align: center;
            li {
                display: inline-block;
                a {
                    border-right: 3px solid #fff;
                    color: $white;
                    font-family: $ubuntubold;
                    padding: 0px 15px 0 7px;
                }
                &:last-child a {
                    border: none;
                }
            }
        }
    }
}

.contact {
    .wrapper {
        background: rgba(0, 116, 217, 0.7);
        .page-title {
            &:after {
                background: none;
            }
        }
        .page-content {
            background: none;
        }
    }
}