.intimate {
    font-size: em($fontSizeLarge);
    line-height: em($fontSizeSubheading);
    font-family: $fontSecondary;
    font-weight: normal;
}

.icon {
    font-size: em($fontSizeLarge);
}

article > h2, section > h2 {
    padding: 0 0 $spacingSectionSmall 0;
}

@include media($screenMedium) {
    #menu-main-menu > li {
        & a {
            font-size: em($fontSizeMedium);
        }
        & li a {
            font-size: em($fontSizeSmall);
        }
        font-weight: 700;
        & ul > li {
            font-weight: 400;
        }
    }
}


a[href$="product-integrations/rov/"], a[href$="product-integrations/auv/"] {
    cursor: default !important;
}

.submission-successful h1 {
    color: $gray;
}

// label.wireless-gnss span {
//     background-color: #00568d;
// }
